.link	{
	font-size: 200%;
	margin-right: 25px;
	text-decoration: none;
	padding: 10px;
	color: #1A529A;
	font-family: verdana;
	white-space: nowrap;
}
.menuu	{
	display: none;
	font-family: verdana;
	color: #1A529A;
	width: 100%;
	max-width: 700px;
	text-align: center;
	font-size: 200%;
}
.link:hover	{
	background-color: #e7f4ff;
	border-radius: 10px;
}
#mar6	{
	text-align: left;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 0px;
}

#div	{
	font-size: 100%;
	text-align: center;
	max-width: 1200px;
	margin: auto;
}
#topicon	{
	width: 45px;
}
#qwe123 {
	background-color: #C8E5FD;
	padding: 10px;
	border-radius: 10px;
	cursor: default;
}
.h3	{
	font-size: 200%;
	font-family: verdana;
	color: #1A529A;
	margin: 10px;
}
.h4	{
	font-size: 150%;
	font-family: verdana;
	color: #1A529A;
}
.h5 {
	font-family: verdana;
	color: #1A529A;
	line-height: 71px;
}
.h6 {
	font-family: verdana;
	color: #1A529A;
}
.h7	{
	font-size: 75%;
	font-family: verdana;
	color: #1A529A;
}
.h8	{
	font-size: 125%;
	font-family: verdana;
	color: #1A529A;
	margin-top: 5px;
}
.h9	{
	font-size: 70%;
	font-family: verdana;
	color: #1A529A;
}
body	{
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}
.block	{
	background-color: #FFFFFF;
}
#alignleft1	{
	text-align: left;
	font-size: 100%;
	max-width: 1200px;
	margin: auto;
}
#alignright1	{
	text-align: left;
}
#main1	{
	text-align: center;
}
.p1	{
	color: #0C3264;
	font-family: verdana;
}
.galochka	{
	width: 18px;
	margin-right: 5px;
}
.totop	{
	margin: auto;
	text-align: center;
}
.main	{
	height: 71px;
}
.textlink	{
	text-decoration: none;
	color: #0000FF;
	font-family: verdana;
}
.photo	{
	margin-right: 10px;
}
.znak	{
	width: 100px;
	margin-top: 15px;
	margin-left: 30px;
	margin-right: 30px;
}
.znak2	{
	width: 70px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.link2	{
	font-size: 150%;
	text-decoration: none;
	color: #1A529A;
	font-family: verdana;
}
.link3	{
	font-size: 100%;
	text-decoration: none;
	color: #1A529A;
	font-family: verdana;
}
.table2	{
	text-align: center;
	max-width: 1200px;
	width: 80vw;
	margin: auto;
	padding-top: 15px;
	margin-bottom: 0px;
}
@media screen and (max-width: 1250px)	{
	.link{
		display: none;
	}
	.menuu{
		display: inline-block;
	}
}
.table3	{
	text-align: center;
	max-width: 1200px;
	width: auto;
	display: none;
	margin-bottom: 0px;
}
@media screen and (max-width: 765px)	{
	.table3  {
	display: inline-block;	
	}
	.table2	{
		display: none;
	}
}
.table1	{
	text-align: center;
	max-width: 1200px;
	margin: auto;
	border-top: 2px solid;
	border-top-color: #1A529A;
	padding-top: 8px;
}
.table4	{
	display: none;
	text-align: center;
	border-top: 2px solid;
	border-top-color: #1A529A;
	padding-top: 8px;
	margin: auto;
	max-width: 1200px;
}
@media screen and (max-width: 940px)	{
	.table1	{
		display: none;
	}
	.table4	{
		display: inline-block;
	}
}
.eventlink	{
	font-size: 125%;
	text-decoration: none;
	color: #1A529A;
	font-family: verdana;
	text-align: left;
}
.tdeventtop	{
	width: 90vw;
	max-width: 1200px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	border-collapse: collapse;
}

.tb	{
	border-top: 2px solid;
	border-top-color: #1A529A;
	border-bottom: 2px solid;
	border-bottom-color: #1A529A;
	max-width: 300px;
}
.t	{
	border-top: 2px solid;
	border-top-color: #1A529A;
}
.b	{
	border-bottom: 2px solid;
	border-collapse: collapse;
	border-bottom-color: #1A529A;
}
#b	{
	border-bottom: 2px solid;
	border-bottom-color: #1A529A;
}
#d	{
	margin-bottom: 15px;
}
.tdevent	{
	max-width: 1200px;
	margin: auto;
	width: auto;
	/* width: 90vw; */
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	border-collapse: collapse;
}
.center	{
	align: center;
	margin: 0px;
}
.table5	{
	display: none;
	border-top: 2px solid;
	border-top-color: #1A529A;
}
.photonew	{
	width: 30vw;
	max-width: 500px;
}
#width	{
	max-width: 1200px;
	width: 90vw;
}
.wid300	{
	width: 300px;
	margin: 0px;
}
.wid150	{
	width: 150px;
	margin: 0px;
}
.wid110	{
	height: 240px;
	text-align: center;
}
.wid120	{
	width: 170px;
	text-align: center;
}
.split	{
	display: none;
	max-width: 700px;
	margin-bottom: 10px;
}
.split2	{
	max-width: 700px;
	display: none;
	margin-bottom: 5px;
	border-collapse: collapse;
}
.split3	{
	display: none;
	border-collapse: collapse;
	margin-bottom: 5px;
}
#mg2	{
	margin-top: 5px;
}
@media screen and (max-width: 1250px)	{
	.tdeventtop{
		display: none;
	}
	.split	{
		display: inline-block;
	}
	.split2	{
		display: inline-block;
	}
}
@media screen and (max-width: 780px)	{
	.split2	{
		display: none;
	}
	.split3{
		display: inline-block;
	}
}
#left	{
	text-align: left;
}
#widthicon	{
	width: 100px;
	margin-top: 45px;
	margin-left: 45px;
	margin-right: 45px;
}
#id001	{
	border-top: 2px solid;
	border-top-color: #1A529A;
}
#widthicon2	{
	width: 100px;
	margin-top: 45px;
	margin-left: 45px;
	margin-right: 45px;
}
#h4q	{
	font-size: 170%;
	font-family: verdana;
	color: #1c75bc;
	margin: 0px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 3px;
}
#h4w	{
	margin: 0px;
	margin-left: 5px;
	margin-top: 8px;
}
.reviewtable	{
	border: 1px;
	border-color: #1A529A;
	border-collapse: collapse;
	text-align: center;
	max-width: 1200px;
	width: auto;
}
#margin10	{
	width: 240px;
}
.reviewtable2	{
	border: 1px;
	border-color: #1A529A;
	border-collapse: collapse;
	text-align: center;
	max-width: 1200px;
	width: auto;
	display: none;
}
.reviewtable3	{
	border: 1px;
	border-color: #1A529A;
	border-collapse: collapse;
	text-align: center;
	max-width: 1200px;
	width: auto;
	display: none;
}
.reviewtable4	{
	border: 1px;
	border-color: #1A529A;
	border-collapse: collapse;
	text-align: center;
	max-width: 1200px;
	width: auto;
	display: none;
}
@media screen and (max-width: 1250px)	{
	.reviewtable	{
		display: none;
	}
	.reviewtable2	{
		display: inline-block;
	}
}
@media screen and (max-width: 900px)	{
	.reviewtable2	{
		display: none;
	}
	.reviewtable3	{
		display: inline-block;
	}
}
@media screen and (max-width: 720px)	{
	.reviewtable3	{
		display: none;
	}
	.reviewtable4	{
		display: inline-block;
	}
}
#check1	{
	margin: 10px;
}
#check2	{
	margin-left: 0px;
	margin-right: 0px;
}

#wid150	{
	width: 200px;
}
#margin20	{
	width: 120px;
}
#wid250	{
	width: 250px;
}
#margin30	{
	width: 160px;
}

#linkevents	{
	text-decoration: none;
}

.highres	{
	width: 100%;
	max-width: 840px;
	height: 115vw;
	max-height: 1188px;
}
.widsz	{
	width: 90px;
}
.widsz2	{
	width: 110px;
	height: 110px;
}
.widsz3	{
	width: 110px;
	height: 110px;
	border-bottom: 2px solid;
	border-bottom-color: #1A529A;
}
#mr10	{
	margin-top: 10px;
}
#mr20	{
	margin-top: 50px;
}
#mr123	{
	margin-top: 10px;
	margin-bottom: 10px;
}
.split11	{
	display: none;
}
@media screen and (max-width: 1250px)	{
	.split10	{
		display: none;
	}
	.split11	{
		display: inline-block;
	}
}

.imgev	{
	width: 100%;
	height: auto;
	max-width: 600px;
}
.imgev2	{
	width: 100%;
	height: auto;
	max-width: 400px;
}
.imgev3	{
	width: 100%;
	height: 650px;
	max-width: 600px;
}
.imgev4	{
	width: 100%;
	height: auto;
	max-width: 550px;
}
.navbar	{
	background-color: red;
	type: none;
}

/*
header{
 font-family: verdana;
}
.dws-menu *{
 margin: 0;
 padding: 0;
}
.dws-menu ul,
.dws-menu ol{
 list-style: none;
}
.dws-menu > ul{
 display: flex;
 justify-content: center;
}
.dws-menu > ul li{
 position: relative;
 border-right: 2px solid #FFFFFF;
}
.dws-menu > ul li:first-child{
 border-left: 2px solid #FFFFFF;
}
.dws-menu > ul li:last-child{
 border-right: 2px solid #FFFFFF;
}
.dws-menu > ul li > a i.fa{
 position: absolute;
 top: 15px;
 left: 12px;
 font-size: 18px;
}
.dws-menu > ul li a{
 display: block;
 background: #1A529A;

 padding: 15px 30px 15px 40px;
 font-size: 14px;
 color: white;
 text-decoration: none;
 text-transform:uppercase;
 transition: all 0.3s ease;
}
.dws-menu li a:hover{
 background: #1A529A;
 background: white;

 color: #1A529A;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;
}

.dws-menu [type="checkbox"],
.dws-menu label.toggleSubmenu{
 display: none;
}
.dws-menu label.toggleMenu{
 background: #1A529A;
 filter: #1A529A;

 display: none;
 padding: 15px 40px;
 text-transform: uppercase;
 font-size: 14px;
 cursor: pointer;
 position: relative;
}

.dws-menu label.toggleMenu .fa{
 position: absolute;
 top: 15px;
 left: 12px;
 font-size: 18px;
}
@media all and (max-width: 800px){
 .dws-menu{
  overflow: hidden;
 }
 .dws-menu ul{
  display: block;
  max-height: 0;
  transition: max-height 0.3s;
 }
 .dws-menu li>ul li ul{
  position: absolute;
  right: auto;
  top: auto;
 }
 .dws-menu label.toggleMenu{
  display: block;
 }
 input.toggleMenu:checked + label.toggleMenu{
  background: green;
  color: #1A529A;
 }
 input.toggleMenu:checked ~ ul,
 input.toggleSubmenu:checked ~ ul{
  display: block;
  position: relative;
  max-height: 5000px;
  transition: max-height 2s ease-in;
 }
 .dws-menu label.toggleSubmenu{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
 }
 input.toggleSubmenu:checked ~ a{
  background: #1A529A;
  color: #red;
 }
 .dws-menu label.toggleSubmenu .fa:before{
  content: "\f0d7";
  color: #1A529A;
 }
 .dws-menu label.toggleSubmenu .fa{
  position: absolute;
  top: 15px;
  right: 30px;
 }
 .dws-menu input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before{
  content: "\f0d8";
  color: #1A529A;
 }
}
*/