body {
	font-family: 'Oswald', sans-serif;
	margin: 0px;
}
.wallpaper {
	width: 100%;
}
.empty {
	width: 100%;
	height: 60px;
	background-color: white;
}
.wallurl {
	border-radius: 2px;
	padding: 10px;
	padding-right: 40px;
	padding-left: 40px;
	width: 160px;
	display: inline-block;
}
.bgw {
	background-color: white;
	border: 2px solid white;
	transition: 0.5s;
	margin-right: 5px;
}
.bgw:hover {
	background-color: white;
	border: 2px solid white;
	color: white;
	background-color: #777777;
	border: 2px solid #777777;
	transition: 0.5s;
}
.bgg {
	background-color: #D69D5B;
	border: 2px solid #D69D5B;
	transition: 0.5s;
	margin-left: 5px;
}
.bgg:hover {
	background-color: white;
	border: 2px solid white;
	color: white;
	background-color: #777777;
	border: 2px solid #777777;
	transition: 0.5s;
}
.logo {
	font-size: 26px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	margin-left: -3px;
	vertical-align: middle;
}
.dc {
	height: 60px;
	line-height: 60px;
}
.text {
	color: black;
	font-size: 18px;
}
.gold {
	color: #D69D5B;
}
.white {
	color: #FFFFFF;
}
.bold {
	font-weight: bold;
}
p {
	font-size: 26px;
	color: #D69D5B
}
#logo {
	vertical-align: middle;
	margin-right: 6px;
	margin-left: 20px;
	width: 30px;
}
.romb {
	width: 12px;
	vertical-align: center;
}
.mr {
	margin-right: 15px;
}
.ml {
	margin-left: 15px;
}
.heading {
	font-size: 26px;
}
.black {
	color: black;
}
.inner {
	color: gray;
	font-size: 18px;
}
.basement_text {
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 125%;
}
.hov:hover {
	color: #D69D5B;
}
a {
	text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-rows: repeat(5, 180px);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px;
  padding: 20px;
  max-width: 1200px;
  box-sizing: border-box;
}
.grid-container2 {
  display: none;
  grid-template-rows: repeat(10, 180px);
  grid-template-columns: 100%;
  grid-gap: 30px;
  padding: 20px;
  max-width: 800px;
  box-sizing: border-box;
}
@media screen and (max-width: 1000px)	{
	.grid-container {
		display: none;
	}
	.grid-container2 {
		display: grid;
	}
}
.post-1 {
  grid-row-start: 1;
  grid-column-start: 1;
}
.post-2 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  background: url('images/cottage1.jpg') center center;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  transition: 0.5s;
  background-position: center center;
}
.post-3 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  background: url('images/cottage2.jpg') center center;
  background-size: cover;
}
.post-4 {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-column-end: 3;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  background: url('images/cottage3.jpg') center center;
  background-size: cover;
}
.post-5 {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 2;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  background: url('images/cottage4.jpg') center center;
  background-size: cover;
}
.post-6 {
  grid-row-start: 5;
  grid-column-start: 2;
  box-shadow: 0 0 2px rgba(0,0,0,1);
}


.p1 {
	grid-row-start: 1;
  }
  .p2 {
	grid-row-start: 2;
	grid-row-end: 4;
	background: url('images/cottage1.jpg') center center;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 2px rgba(0,0,0,1);
	transition: 0.5s;
	background-position: center center;
  }
  .p3 {
	grid-row-start: 4;
	grid-row-end: 6;
	box-shadow: 0 0 2px rgba(0,0,0,1);
	background: url('images/cottage2.jpg') center center;
	background-size: cover;
  }
  .p4 {
	grid-row-start: 6;
	grid-row-end: 8;
	box-shadow: 0 0 2px rgba(0,0,0,1);
	background: url('images/cottage3.jpg') center center;
	background-size: cover;
  }
  .p5 {
	grid-row-start: 8;
	grid-row-end: 10;
	box-shadow: 0 0 2px rgba(0,0,0,1);
	background: url('images/cottage4.jpg') center center;
	background-size: cover;
  }
  .p6 {
	grid-row-start: 10;
	box-shadow: 0 0 2px rgba(0,0,0,1);
  }

.test {
	transition: 0.5s;
	background-color: #FFFFFF;
	border: 2px solid #FFFFFF;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: center;
	color: #777777;
}
.test:hover {
	transition: 0.5s;
	background-color: #777777;
	border: 2px solid #777777	;
	color: #FFFFFF;
}
.grid-base {
  display: grid;
  grid-template-rows: repeat(3, 33%);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-base2 {
  display: none;
  grid-template-rows: repeat(3, 33%);
  grid-template-columns: 100%;
}
@media screen and (max-width: 760px)	{
	.grid-base {
		display: none;
	}
	.grid-base2 {
		display: grid;
	}
}
.icons {
	vertical-align: middle;
	width: 40px;
}

#example .new {
	opacity: 0;
}

#example .div_opacity {
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-ms-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
	opacity: 1;
}
#example2 .new {
	opacity: 0;
}

#example2 .div_opacity {
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-ms-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
	opacity: 1;
}
ul {
	list-style: none; /*убираем маркеры списка*/
	margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
	padding-left: 0; /*убираем левый отступ, равный 40px*/
  }
a {
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
li {
	display: inline;
	margin-left: 30px;
}
.menu_ref {
	transition: 0.5s;
	font-size: 26px;
}
.menu_ref:hover {
	color: #D69D5B;
	transition: 0.5s;
}
div.scrollup {
	position: fixed; /* фиксированная позиция */
	color: #fff; /* цвет текста */
	right: 20px; /* расстояние от правого края */
	bottom: 20px; /* расстояние от нижнего края */
	padding: 4px 10px; /* отступы до содержимого блока */
	font-size: 20px; /* размер шрифта (иконки) */
	border-radius: 4px;
	cursor: pointer; /* форма курсора */
	display: none; /* не отображать элемент */
	text-align: center; /*выравнивание содержимого элемента по центру */
	width: 40px;
	height: 40px;
  }
  div.scrollup:hover {
	background-color: #444444; /* цвет заднего фона при наведении */
  }

  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
	z-index: 9999;
	float: right;
}

.logotype {
margin-left: 10vw;
}

.menu li {
    display: inline-block;
	z-index: 9999;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
  z-index: 9999;
}

.wrapper {
    height: 60px;
	z-index: 9999;
	margin-right: 10vw;
}

.menuToggle {  
    color: #000;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
	z-index: 9999;
	padding-bottom: 20px;
}

@media( max-width: 1200px) {
    .menuToggle {
        display: block;
    }
    .menu {
        display: none;
        position: absolute;
        background: white;
        width: 100%;
        margin-left: -10px;
        padding-left: 10px;
    }
    .menu li {
		text-align: right;
        display: block;
    }
	.wrapper {
		margin-right: 0px;
	}
	.logotype {
		margin-left: 0px;
	}
}

.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
	z-index: 9999;
}

.hamburger {
    width: 30px;
    height: 4px;
    transform: translate(-50%, -50%);
    background: #D69D5B;
    transition: 0.5s;
    display: inline-block;
	z-index: 9999;
	margin-top: 20px;
}

.hamburger:before,
.hamburger:after {
    content: "";
    width: 30px;
    height: 4px;
    position: absolute;
    background: #D69D5B;
    transition: 0.5s;
	z-index: 9999;
}

.hamburger:before {
    top: -12px;
	z-index: 9999;
}

.hamburger:after {
    top: 12px;
	z-index: 9999;
}

.icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}