body {
	font-family: 'Oswald';
	margin: 0px;
}
.menu {
	color: black;
	text-align: center;
}
.logo {
	font-size: 26px;
	font-family: 'Oswald';
	font-weight: bold;
	vertical-align: bottom;
}
.text {
	color: black;
	font-size: 18px;
}
.gold {
	color: #D69D5A;
}
.bold {
	font-weight: bold;
}
p {
	font-size: 26px;
	color: #D69D5A
}
.top {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#menu {
	border: 0px;
	width: 100%;
	height: 55px;
}
#logo {
	vertical-align: center;
	margin-right: 6px;
	margin-left: 20px;
	width: 30px;
}
.td {
	width: 20%;
}
.romb {
	width: 12px;
	vertical-align: center;
}
.mr {
	margin-right: 15px;
}
.ml {
	margin-left: 15px;
}
.heading {
	font-size: 26px;
}
.inner {
	color: gray;
	font-size: 18px;
}
.basement_text {
	margin-bottom: 0px;
	margin-top: 0px;
}
/*
#grid { 
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2vw;
	max-width: 1000px;
	
}
#grid > div {
	font-size: 5vw;
	padding: .5em;
	background: gold;
	text-align: center;
}
*/